---
- hosts: server
  roles:
    - { role: package, become: yes }
  tasks:
    # task 1
    - name: test connection
      ping:
      register: message

    # task 2
    - name: print debug message
      debug:
      msg: "{{ message }}"