{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "Host": {
    "AuthServer": "https://{{ auth_host }}:{{ auth_port }}",
    "OidcServer": "https://{{ oidc_host }}:{{ oidc_port }}",
    "Redis": "{{ redis_host }}:{{ redis_port }}"
  },
  "AuthOptions": {
    "Audience": "{{ audience }}",
    "ClientId": "{{ client_id }}",
    "RefreshDiscoveryDocDuration": {{ refresh_discovery_doc_duration }}
  }
}
