{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "LdapServer": {
    "Url": "{{ ldap_host }}",
    "Port": {{ ldap_port }},
    "Ssl": {{ ldap_is_enable_ssl }},
    "BindDn": "{{ ldap_bind_dn }}",
    "BindCredentials": "{{ ldap_bind_credentials }}",
    "SearchBase": "{{ ldap_search_base }}",
    "SearchFilter": "{{ ldap_search_filter }}"
  },
  "Host": {
    "Redis": "{{ redis_host }}:{{ redis_port }}"
  },
  "Global": {
    "SigningCredential": {
      "DefaultExpiry": {
        "Second": {{ default_expiry }}
      }
    }
  }
}
