[defaults]
inventory = /dev/ansible/Deploy/AspNetCore.IdentityServer4.Sample/inventory
private_key_file = ~/.ssh/id_rsa
# vault_id_match = True
# vault_identity = dev
# vault_password_file = ~/dev-av-secret
# roles_path = /dev/ansible/Test2/roles:/dev/ansible/Test2/roles # For roles not in default path, use : to append more pathes.
